.App {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;   
}

body {
    overflow-x: hidden;
}
/** Typography */

p {
    font-size: 18px;
    line-height: 125%;
}

h6 {
    font-weight: bold;
    font-size: 15px;
    line-height: 125%;
    margin: 0;
}

h5 {
    font-weight: bold;
    font-size: 23px;
    line-height: 125%;
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 27px;
    line-height: 33.75px;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 29px;
    line-height: 36.25px;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    margin: 0;
}